# Ignore every file by default
/*
/*/.DS_Store

# Files to track
!.Brewfile
!.bootstrap.sh
!.config
.config/*
!.config/fish/
!.config/fish/*
!.config/ghostty
!.config/ghostty/*
!.config/starship.toml
!.config/tmux/
!.gitconfig
!.gitignore
!.iterm
!*.p10k.zsh
