# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Runtime logs and state files
.config/btop/btop.log
.config/dagger/.buildkitd.lock
.config/dagger/cli_id
.config/dagger/version-check